<!DOCTYPE html>
<html>
  <head>
    <title>Flights</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <ul>
        <li><a href="/flights">Flights!</a></li>
        <li><a href="/flights/new">Create Flight</a></li>
        <li><a href="/flights/new">New Flight</a></li>
    </ul>
  </head>
  <body>